<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- Sepertinya tidak bisa menggunakan 1 way data binding -->
        <h1 v-text="title"></h1>
        <h2>1 Way data binding</h2>
        <p>Text Input : {{inputText}}</p>
        <input type="text" name="Data">
        <button type="submit" @click="reRender(data)">Submit Data</button>
        <h2>2 Way data binding</h2>
        <p>Text Input : {{inputText}}</p>
        <input type="text" v-model="inputText">
        <p>Kelas yang tersedia : {{kelas}}</p>
        <div v-for="(k,i) in kelas">
                <label >{{ i + '. '+k }}</label>
                <input type="checkbox" :value="k" v-model="ambilKelas">
            </div>
        <p>Kelas yang diambil : {{ambilKelas}}</p>
        <template v-for="(value, name ,index) in object">
            <p>
                {{value}} - {{name}} - {{index}}

            </p>
        </template>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>

<!-- v-bind ? -->
<!-- Pada vue bisa menggunakan syntaks template -->

<!--  v-for {{value,name,index}} -->